@import "../../commonStyles/_mixins";
@import "../../commonStyles/_variables";

:host>div{
    position:relative;
    height:100vh;
    // TODO: Get an appropriate image
    background-image:url(https://source.unsplash.com/random/1920x1080);
    background-size:cover;
    background-position:center;
}

.headers-container{
    @include center();
    h1{
        text-align:center;
        color:$header-font-color;
    }

    h3{
        text-align:center;
        color:$subheader-font-color;
    }
}

